.pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f7f7f7; 
    padding: 20px;
    box-sizing: border-box;
    position: relative; 
    overflow: hidden;
  }
  
  .backgroundCircle {
    position: absolute;
    width: 450px; 
    height: 450px;
    background-color: #a0e3e2; 
    border-radius: 392px;
    top: 40%;
    left: 20%;
    transform: translate(-50%, -30%); 
    z-index: 1;
    opacity: 0.4;
  }
  
  .contentCard {
    background-color: transparent; 
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
  }
  
  .title {
    font-size: 28px; 
    font-weight: 700;
    color: #371b34; 
    margin-bottom: 16px;
  }
  
  .description {
    font-size: 16px; 
    color: #555; 
    line-height: 1.6;
    margin-bottom: 12px;
    max-width: 300px; 
  }
  
  .description:last-of-type {
     margin-bottom: 30px; 
  }
  
  .illustration {
    width: 180px;
    height: auto;
    margin-bottom: 40px; 
  }
  
  .getStartedButton {
    border-radius: 10px;
    background: #371b34; 
    display: flex;
    width: 290px;
    max-width: 90%;
    height: 60px; 
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: #e5e5e5; 
    text-align: center;
    font-size: 22px; 
    font-weight: 500;
    line-height: 1.6;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .getStartedButton:hover {
    background-color: #53314e; 
  }
  
  .icon {
    width: 32px;
    height: 32px;
    stroke: #b9b2c7; /* Default color */
  }
  
  /* Active state for home icon */
  .bottomBarButton:first-child .icon {
    stroke: #432243;
  }
  
  /* Active state for heart icon */