.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #aeaff7;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

.card {
  border-radius: 40px;
  background: #aeaff7;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.cardContent {
  position: relative; /* הכרחי כדי שה-z-index הבא יעבוד */
  /* 👇 שכבה מעל הכרטיס והעיגול */
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%; /* ממלא את הכרטיס */
  box-sizing: border-box;
}

.backgroundCircle {
  position: absolute; /* מוציא את האלמנט מהזרימה הרגילה ומאפשר למקם אותו באופן מדויק */
  width: 385px; /* <-- קבעו גודל רצוי מהפיגמה (צריך להיות גדול מהכרטיס) */
  height: 386px; /* <-- אותו גודל כמו הרוחב לעיגול מושלם */
  background-color: #d9f4f3; /* צבע העיגול */
  border-radius: 50%; /* הופך את הריבוע לעיגול */
  /* מיקום העיגול: */
  top: 54%; /* ממקם את החלק העליון של העיגול במרכז הקונטיינר */
  left: 10%; /* ממקם את החלק השמאלי של העיגול במרכז הקונטיינר */
  transform: translate(
    -50%,
    -50%
  ); /* טריק CSS נפוץ: מזיז את העיגול אחורה ב-50% מהרוחב והגובה של *עצמו*, ובכך ממקם את *המרכז* שלו במרכז הקונטיינר */
  z-index: 2;
  opacity: 0.4;
}

.logo {
  /*background: url(<path-to-image>) lightgray 50% / cover no-repeat;*/
  width: 336px;
  height: 95px;
  flex-shrink: 0;
  width: 336;
  height: 95;
  top: 59px;
  left: 18px;
}

.slogen {
  color: #371b34;
  font-family: Alegreya Sans;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;

  width: 263;
  height: 85;
  top: 154px;
  left: 23px;

  z-index: 3;
}

.illustration {
  width: 255px;
  height: 269px;
  flex-shrink: 0;
}

.createAccountButton {
  border-radius: 10px;
  background: #371b34;

  display: flex;
  width: 293px;
  height: 70px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  color: #e5e5e5;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 38.4px */
}

.loginLink {
  color: var(--Colors-Base-White, #fff);

  /* Body/Regular */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

.loginLink:hover {
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
}
