.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #aeaff7;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

.card {
  border-radius: 40px;
  background: #aeaff7;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.cardContent {
  position: relative; /* 专  砖-z-index  注 */
  /*  砖 注 专住 注 */
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%; /*  转 专住 */
  box-sizing: border-box;
}

.backgroundCircle {
  position: absolute; /* 爪 转  专 专 驻砖专 拽 转 驻 拽 */
  width: 385px; /* <-- 拽注  专爪 驻 (爪专 转  专住) */
  height: 386px; /* <-- 转   专 注 砖 */
  background-color: #d9f4f3; /* 爪注 注 */
  border-radius: 50%; /* 驻 转 专注 注 */
  /* 拽 注: */
  top: 54%; /* 拽 转 拽 注 砖 注 专 拽专 */
  left: 10%; /* 拽 转 拽 砖 砖 注 专 拽专 */
  transform: translate(
    -50%,
    -50%
  ); /* 专拽 CSS 驻抓:  转 注 专 -50% 专  砖 *注爪*,  拽 转 *专* 砖 专 拽专 */
  z-index: 2;
  opacity: 0.4;
}

.logo {
  /*background: url(<path-to-image>) lightgray 50% / cover no-repeat;*/
  width: 336px;
  height: 95px;
  flex-shrink: 0;
  width: 336;
  height: 95;
  top: 59px;
  left: 18px;
}

.slogen {
  color: #371b34;
  font-family: Alegreya Sans;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;

  width: 263;
  height: 85;
  top: 154px;
  left: 23px;

  z-index: 3;
}

.illustration {
  width: 255px;
  height: 269px;
  flex-shrink: 0;
}

.createAccountButton {
  border-radius: 10px;
  background: #371b34;

  display: flex;
  width: 293px;
  height: 70px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  color: #e5e5e5;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 38.4px */
}

.loginLink {
  color: var(--Colors-Base-White, #fff);

  /* Body/Regular */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

.loginLink:hover {
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
}
